<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .navbar {
            height: 100px;
            font-size: 1rem;
        }
        .offcanvas-collapse {
            position: fixed;
            top: 100px; /* Adjust based on the height of your navbar */
            bottom: 0;
            left: 0;
            width: 250px;
            z-index: 1000;
            display: none;
            background-color: #f8f9fa;
            overflow-y: auto;
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .offcanvas-collapse.open {
            display: block;
        }
        .custom-table .even-row {
          background-color:#b6d4ee; 
        }
        .custom-table .odd-row {
          background-color: #f7d0ea; 
        }
        .navbar-brand {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .navbar-toggler {
            position: absolute;
            left: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-lg navbar-light bg-light fixed-top">
        <div class="container-fluid d-flex">
            <button class="navbar-toggler" type="button" id="sidebarToggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#" >
                <img src="https://media.licdn.com/dms/image/C4D0BAQFEhO_RAbTovQ/company-logo_200_200/0/1630499738773?e=2147483647&v=beta&t=0RA-JcGeh_o3Jd2P0ZxUEhiE875FBTbtwVHVk9i2kLs" alt="Logo" width="60" height="60">
                Sangam India Limited
            </a>
        </div>
    </nav>

  <div class="offcanvas-collapse" id="offcanvasSidebar">
      <div class="nav flex-column">
          <a href="/requirement_form" class="btn btn-info my-1">Add Requirement</a>
          <a href="/view-today-entries" class="btn btn-info my-1">Today Entries</a>
          <a href="/ingredients_master" class="btn btn-info my-1">Add Item In Ingredient Master</a>
          <a href="/item-list" class="btn btn-info my-1">Add Item In Menu Master</a>
          <a href="/detail-item-form" class="btn btn-info my-1">Create BOM</a>
          <a href="/ingredient_inward_form" class="btn btn-info my-1">Ingredient Inwards Entry</a>
          <a href="/add-new-employee" class="btn btn-info my-1">Add Employee</a>
          <a href="/view-users" class="btn btn-info my-1">Total Employees</a>
          <a href="/rate-list" class="btn btn-info my-1">Add Menu</a>
          <a href="/view-rate-list" class="btn btn-info my-1">View Menu</a>
          <a href="/admin-logout" class="btn btn-danger my-1">Logout</a>
      </div>
  </div>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mt-5" style="color: red;">Admin Dashboard</h1>
            <h3 style="color: rgb(248, 83, 83);">All Entries</h3>
        </div>
    </div>

    <!-- Table to display all employee entries -->
    <div>
        <div>
            <h3 style="color: red;" class="mt-2">Employee Entries</h3>
            <table class="table table-bordered table custom-table" id="employeeTable">
                <thead id="employeeTableHead">
                    <tr style="background-color: rgb(236, 208, 171);">
                        <th>SN No.</th> <!-- Line number column -->
                        <th>Order Type</th>
                        <th>Quantity</th>
                        <th>Employee Name</th>
                        <th>Employee Code</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Date From</th>
                        <th>Delete Entry</th>
                    </tr>
                </thead>
                <tbody id="employeeTableBody">
                    <% let employeeLineNumber = 1; %>
                    <% employees.forEach(employee => { %>
                        <tr>
                            <td><%= employeeLineNumber %></td>
                            <td><%= employee.orders %></td>
                            <td><%= employee.quantity %></td>
                            <td><%= employee.name %></td>
                            <td><%= employee.employeeCode %></td>
                            <td><%= employee.department %></td>
                            <td><%= employee.designation %></td>
                            <td><%= new Date(employee.date_from).toLocaleDateString('en-GB') %></td>
                            <td>
                                <form action="/delete-entry/<%=employee.id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% employeeLineNumber++; %>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <div>
            <h3 style="color: red;">Guest Entries</h3>
            <table class="table table-bordered table custom-table" id="guestTable">
                <thead id="guestTableHead">
                    <tr style="background-color: rgb(236, 208, 171);">
                        <th>SN No.</th> <!-- Line number column -->
                        <th>Order Type</th>
                        <th>Employee Name</th>
                        <th>Guest Name</th>
                        <th>Guest Company</th>
                        <th>Guest Designation</th>
                        <th>Remarks</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="guestTableBody">
                    <% let guestLineNumber = 1; %>
                    <% guests.forEach(guest => { %>
                        <tr>
                            <td><%= guestLineNumber %></td>
                            <td><%= guest.orders %></td>
                            <td><%= guest.employee_name %></td>
                            <td><%= guest.guestName %></td>
                            <td><%= guest.guestCompany %></td>
                            <td><%= guest.guestdesignation %></td>
                            <td><%= guest.remarks %></td>
                            <td><%= new Date(guest.date_from).toLocaleDateString('en-GB') %></td>
                        </tr>
                        <% guestLineNumber++; %>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
  </div>

  <footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row justify-content-center mb-4">
            <div>
                <a class="navbar-brand" href="#">
                    <img src="https://media.licdn.com/dms/image/C4D0BAQFEhO_RAbTovQ/company-logo_200_200/0/1630499738773?e=2147483647&v=beta&t=0RA-JcGeh_o3Jd2P0ZxUEhiE875FBTbtwVHVk9i2kLs" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Sangam India Limited
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <h5 class="text-uppercase mb-3">Follow Us</h5>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="mx-2">
                        <a href="https://www.facebook.com/SangamGroupBhilwara/" class="text-dark"><i class="fab fa-facebook-f fa-lg"></i></a>
                    </li>
                    <li class="mx-2">
                        <a href="https://www.instagram.com/sangamgroup_/?hl=en" class="text-dark"><i class="fab fa-instagram fa-lg"></i></a>
                    </li>
                    <li class="mx-2">
                        <a href="https://www.linkedin.com/company/sangam-india-ltd-bhilwara/" class="text-dark"><i class="fab fa-linkedin-in fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Sangam India Limited:
        <a class="text-dark" href="https://sangamgroup.com/">sangamgroup.com</a>
    </div>
  </footer>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#sidebarToggle').on('click', function () {
            $('.offcanvas-collapse').toggleClass('open');
        });
    });
  </script>
</body>
</html>
