<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Define your custom colors */
        .custom-table .even-row {
          background-color:#b6d4ee; /* Light blue */
        }
      
        .custom-table .odd-row {
          background-color: #f7d0ea; /* Lavender */
        }
      </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height: 100px; font-size: 1.5rem;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://media.licdn.com/dms/image/C4D0BAQFEhO_RAbTovQ/company-logo_200_200/0/1630499738773?e=2147483647&v=beta&t=0RA-JcGeh_o3Jd2P0ZxUEhiE875FBTbtwVHVk9i2kLs" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
            Sangam India Limited
          </a>
          <a href="/logout" class="btn btn-danger">Logout</a> 
        </div>
    </nav>
    <h1>Welcome, <%= user.employee_name %></h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="mt-5" style="color: red;">Add Orders</h3>
                <!-- Button trigger modal for Add Guest -->
                <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#addGuestModal">Add Guest</button>
                <!-- Button trigger modal for Add Employee -->
                <button type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#addEmployeeModal">Add Employee</button>
            </div>
        </div>

  <!-- Table to display entered data -->
<div >
    <div>
        <div >
            <div >
                <h3 style="color: red;">Employee Entries</h3>
                <table class="table table-bordered table table custom-table">
                    <thead id="employeeTableHead">
                        <tr style="background-color: rgb(236, 208, 171);">
                            <th>SN No.</th> <!-- Line number column -->
                            <th> Employee Name</th>
                            <th>Person to Add</th>
                            <th>Date From</th>
                            <th>Date To</th>
                        </tr>
                    </thead>
                    <tbody id="employeeTableBody">
                        <% let employeeLineNumber = 1; %>
                        <% employees.forEach(employee => { %>
                            <tr class="even-row">
                                <td><%= employeeLineNumber %></td>
                                <td><%= employee.name %></td>
                                <td><%= employee.person_to_add %></td>
                                <td><%= new Date(employee.date_from).toLocaleDateString('en-GB') %></td>
                                <td><%= new Date(employee.date_to).toLocaleDateString('en-GB') %></td>
                            </tr>
                            <% employeeLineNumber++; %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div >
                <h3 style="color: red;">Guest Entries</h3>
                <table class="table table-bordered table custom-table">
                    <thead id="guestTableHead">
                        <tr style="background-color: rgb(236, 208, 171);" >
                            <th>SN No.</th> <!-- Line number column -->
                            <th> Employee Name</th>
                            <th>Guest Name</th>
                            <th>Guest Company</th>
                            <th>Date From</th>
                            <th>Date To</th>
                        </tr>
                    </thead>
                    <tbody id="guestTableBody">

                        <% let guestLineNumber = 1; %>
                        <% guests.forEach(guest => { %>
                            <tr class="odd-row">
                                <td><%= guestLineNumber %></td>
                                <td><%= guest.name %></td>
                                <td><%= guest.person_to_add %></td>
                                <td><%= guest.company %></td>
                                <td><%= new Date(guest.date_from).toLocaleDateString('en-GB') %></td>
                                <td><%= new Date(guest.date_to).toLocaleDateString('en-GB') %></td>
                            </tr>
                            <% guestLineNumber++; %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


    <!-- Modal for Add Guest -->
    <div class="modal fade" id="addGuestModal" tabindex="-1" role="dialog" aria-labelledby="addGuestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addGuestModalLabel">Add Guest</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addGuestForm" action="/add-guest" method="POST">
                        <div class="form-group">
                            <label for="guestName">Guest Name</label>
                            <input type="text" class="form-control" id="guestName" name="guestName" placeholder="Enter guest name" required>
                        </div>
                        <div class="form-group">
                            <label for="personToAddGuest">Person to Add</label>
                            <input type="text" class="form-control" id="personToAddGuest" name="personToAddGuest" placeholder="Enter person to add" required>
                        </div>
                        <div class="form-group">
                            <label for="guestCompany">Guest Company</label>
                            <input type="text" class="form-control" id="guestCompany" name="guestCompany" placeholder="Enter guest company" required>
                        </div>
                        <div class="form-group">
                            <label for="dateFromGuest">Date From</label>
                            <input type="date" class="form-control" id="dateFromGuest" name="dateFromGuest" required>
                        </div>
                        <div class="form-group">
                            <label for="dateToGuest">Date To</label>
                            <input type="date" class="form-control" id="dateToGuest" name="dateToGuest" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Add Employee -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addEmployeeForm" action="/add-employee" method="POST">
                        <div class="form-group">
                            <label for="employeeName">Employee Name</label>
                            <input type="text" class="form-control" id="employeeName" name="employeeName" placeholder="Enter employee name" required>
                        </div>
                        <div class="form-group">
                            <label for="personToAddEmployee">Person to Add</label>
                            <input type="text" class="form-control" id="personToAddEmployee" name="personToAddEmployee" placeholder="Enter person to add" required>
                        </div>
                        <div class="form-group">
                            <label for="dateFromEmployee">Date From</label>
                            <input type="date" class="form-control" id="dateFromEmployee" name="dateFromEmployee" required>
                        </div>
                        <div class="form-group">
                            <label for="dateToEmployee">Date To</label>
                            <input type="date" class="form-control" id="dateToEmployee" name="dateToEmployee" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="container p-4">
          <div class="row justify-content-center mb-4">
            <div>
              <a class="navbar-brand" href="#">
                <img src="https://media.licdn.com/dms/image/C4D0BAQFEhO_RAbTovQ/company-logo_200_200/0/1630499738773?e=2147483647&v=beta&t=0RA-JcGeh_o3Jd2P0ZxUEhiE875FBTbtwVHVk9i2kLs" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                Sangam India Limited
              </a>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <h5 class="text-uppercase mb-3">Follow Us</h5>
              <ul class="list-unstyled d-flex justify-content-center">
                <li class="mx-2">
                  <a href="https://www.facebook.com/SangamGroupBhilwara/" class="text-dark"><i class="fab fa-facebook-f fa-lg"></i></a>
                </li>
                <!-- <li class="mx-2">
                  <a href="#" class="text-dark"><i class="fab fa-twitter fa-lg"></i></a>
                </li> -->
                <li class="mx-2">
                  <a href="https://www.instagram.com/sangamgroup_/?hl=en" class="text-dark"><i class="fab fa-instagram fa-lg"></i></a>
                </li>
                <li class="mx-2">
                  <a href="https://www.linkedin.com/company/sangam-india-ltd-bhilwara/" class="text-dark"><i class="fab fa-linkedin-in fa-lg"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2024 Sangam India Limited:
          <a class="text-dark" href="https://sangamgroup.com/">sangamgroup.com</a>
        </div>
      </footer>
    <script>
        $(document).ready(function() {
            // Initialize DataTable for Employee table
            $('#employeeTable').DataTable({
                "paging": true,
                "order": [[0, 'asc']], // Optional: Sort by first column ascending
                "columnDefs": [
                    { "targets": 0, "orderable": false } // Disable sorting on SN No. column
                ]
            });
    
            // Initialize DataTable for Guest table
            $('#guestTable').DataTable({
                "paging": true,
                "order": [[0, 'asc']], // Optional: Sort by first column ascending
                "columnDefs": [
                    { "targets": 0, "orderable": false } // Disable sorting on SN No. column
                ]
            });
        });
    </script>
    
    <!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- DataTables CSS -->
<link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

</body>
</html>
