<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Menu</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        h3 {
            color: red;
            text-align: center;
            margin-bottom: 30px;
            font-size: 2rem;
        }
        .table {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .table th {
            background-color: #ecd0ab;
            font-weight: bold;
            text-align: center;
        }
        .table td {
            text-align: center;
            padding: 15px;
        }
        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1;
      }
      body {
        padding-top: 20px; /* Adjust this value if needed */
        font-size: 0.7rem;
      }
      .navbar {
        font-size: 0.9rem;
        height: 56px; /* Adjust based on the height of your navbar */
      }
      .sidebar {
    position: fixed;
        top: 56px; /* Adjust this value if the navbar height changes */
        bottom: 0;
        left: 0;
        width: 250px;
        padding-top: 1rem; /* Adjust padding to match the top padding of the main content */
        background-color: #343a40; /* Bootstrap bg-dark color */
        color: white;
        overflow-y: auto;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
      }
      .sidebar a:hover {
        color: #adb5bd;
      }
      .main-content {
        margin-left: 220px;
        padding: 60px 10px 10px;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin-dashboard">
        <img
          src="https://sangamgroup.com/wp-content/uploads/2023/01/sangam_group_logo.png"
          alt="Logo"
          width="60"
          height="50"
        />
        Sangam India Limited
      </a>
      
  </nav>

  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item"><a href="/requirement_form" class="nav-link">Add Requirement</a></li>
      <li class="nav-item"><a href="/view-today-entries" class="nav-link">Today Entries</a></li>
      <li class="nav-item"><a href="/ingredients_master" class="nav-link">Add Item In Ingredient Master</a></li>
      <li class="nav-item"><a href="/item-list" class="nav-link">Add Item In Menu Master</a></li>
      <li class="nav-item"><a href="/detail-item-form" class="nav-link">Create BOM</a></li>
      <li class="nav-item"><a href="/ingredient_inward_form" class="nav-link">Ingredient Inwards Entry</a></li>
      <li class="nav-item"><a href="/ingredient_outward" class="nav-link">Ingredient Outward Entry</a></li>
      <li class="nav-item"><a href="/view_stock" class="nav-link">View Stock</a></li>
      <li class="nav-item"><a href="/suppliers_master" class="nav-link">Add Suppliers</a></li>
      <li class="nav-item"><a href="/debit_invoice" class="nav-link">Invoice</a></li>
      <li class="nav-item"><a href="/credit_invoice" class="nav-link">Payment</a></li>
      <li class="nav-item"><a href="/outstanding_invoice" class="nav-link">Outstanding Balance</a></li>
      <li class="nav-item"><a href="/add-new-employee" class="nav-link">Add Employee</a></li>
      <li class="nav-item"><a href="/view-users" class="nav-link">Total Employees</a></li>
      <li class="nav-item"><a href="/rate-list" class="nav-link">Add Menu</a></li>
      <li class="nav-item"><a href="/view-rate-list" class="nav-link">View Menu</a></li>
      <li class="nav-item"><a href="/admin-logout" class="nav-link">Logout</a></li>
    </ul>
</div>
<div class="main-content">
    <div class="container">
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:xx-large; font-weight:bolder;" >Ingredients Inwards</h3>
        <table class="table table-bordered table custom-table" id="viewMenu">
            <thead>
                <tr>
                    <th>Issued To</th>
                    <th>Issue Date  </th>
                    <th>Ingredient Item Code</th>
                    <th>Ingredient Item Description</th>
                    <th>Issue Quantity(in kg)</th>
                    
                </tr>
            </thead>
            <tbody>
                <% for (outwardIngredient of outwardIngredients){ %>
                <tr>
                    <td><%= outwardIngredient.issued_to %></td>
                    <td><%= new Date(outwardIngredient.issue_date).toLocaleDateString('en-GB') %></td>
                    <td><%= outwardIngredient.ingredient_item_code %></td>
                    <td><%= outwardIngredient.ingredient_item_description %></td>
                    <td><%= outwardIngredient.issued_quantity %></td>
                    

                    
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
