<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View BOM List</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 80px; /* Adjust this value if needed */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-light bg-light fixed-top" style="height: 80px; font-size: 1rem;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://sangamgroup.com/wp-content/uploads/2023/01/sangam_group_logo.png" alt="Logo" width="80" height="50" >
            Sangam India Limited
        </a>
        <div class="ms-auto">
            <!-- <a href="/termsandconditions" class="btn btn-info mx-2">T&C</a>
            <a href="/view-menu" class="btn btn-primary mx-2">View Menu</a>
            <a href="/logout" class="btn btn-danger">Logout</a> -->
            <a href="/admin-dashboard" class="btn btn-info mx-2">Dashboard</a>
        </div>
    </div>
</nav>
  <div class="container mt-5">
    <h3>BOM List</h3>
    <% for (let menuItemCode in menuItems) { %>
      <h5>Menu Item:</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Menu Item Code</th>
            <th>Item Description</th>
            <th>UOM</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= menuItems[menuItemCode].details.menu_item_code %></td>
            <td><%= menuItems[menuItemCode].details.item_description %></td>
            <td><%= menuItems[menuItemCode].details.uom %></td>
            <td><%= menuItems[menuItemCode].details.qty %></td>
            <td>
              <a href="/menu/edit/<%= menuItems[menuItemCode].details.menu_item_code %>" class="btn btn-primary btn-sm">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h5>Ingredients:</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Line No</th>
            <th>Item Code</th>
            <th>Description</th>
            <th>UOM</th>
            <th>Quantity</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          <% menuItems[menuItemCode].ingredients.forEach(ingredient => { %>
            <tr>
              <td><%= ingredient.lineno %></td>
              <td><%= ingredient.item_code %></td>
              <td><%= ingredient.ingredient_description %></td>
              <td><%= ingredient.ingredient_uom %></td>
              <td><%= ingredient.ingredient_qty %></td>
              <td><%= ingredient.rate %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      
      <hr>
    <% } %>
  </div>
</body>
</html>
