<!-- view-rate-list.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Rate List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
          .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1;
      }
      body {
        padding-top: 20px; /* Adjust this value if needed */
        font-size: 0.7rem;
      }
      .navbar {
        font-size: 0.9rem;
        height: 56px; /* Adjust based on the height of your navbar */
      }
      .sidebar {
    position: fixed;
        top: 56px; /* Adjust this value if the navbar height changes */
        bottom: 0;
        left: 0;
        width: 220px;
        padding-top: 1rem; /* Adjust padding to match the top padding of the main content */
        background-color: #343a40; /* Bootstrap bg-dark color */
        color: white;
        overflow-y: auto;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
      }
      .sidebar a:hover {
        color: #adb5bd;
      }
      .main-content {
        margin-left: 250px;
        padding: 60px 10px 10px;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin-dashboard">
            <img
              src="https://sangamgroup.com/wp-content/uploads/2023/01/sangam_group_logo.png"
              alt="Logo"
              width="60"
              height="50"
            />
            Sangam India Limited
          </a>
       
      </nav>
  
      <div class="sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/requirement_form" class="nav-link">Add Requirement</a>
          </li>
          <li class="nav-item">
            <a href="/view-today-entries" class="nav-link">Today Entries</a>
          </li>
          <li class="nav-item">
            <a href="/ingredients_master" class="nav-link"
              >Add Item In Ingredient Master</a
            >
          </li>
          <li class="nav-item">
            <a href="/item-list" class="nav-link">Add Item In Menu Master</a>
          </li>
          <li class="nav-item">
            <a href="/detail-item-form" class="nav-link">Create BOM</a>
          </li>
          <li class="nav-item">
            <a href="/ingredient_inward_form" class="nav-link"
              >Ingredient Inwards Entry</a
            >
          </li>
          <li class="nav-item">
            <a href="/ingredient_outward" class="nav-link"
              >Ingredient Outward Entry</a
            >
          </li>
          <li class="nav-item">
            <a href="/view_stock" class="nav-link">View Stock</a>
          </li>
          <li class="nav-item">
            <a href="/add-new-employee" class="nav-link">Add Employee</a>
          </li>
          <li class="nav-item">
            <a href="/view-users" class="nav-link">Total Employees</a>
          </li>
          <li class="nav-item">
            <a href="/rate-list" class="nav-link">Add Menu</a>
          </li>
          <li class="nav-item">
            <a href="/view-rate-list" class="nav-link">View Menu</a>
          </li>
          <li class="nav-item">
            <a href="/admin-logout" class="nav-link">Logout</a>
          </li>
        </ul>
  </div>
  <div class="main-content">
    <div class="container mt-5">
        <h2>Rate List</h2>
        <table class="table">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Item</th>
                    <th>Rate</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <!-- <th>Created At</th> -->
                    <th>Edit Button</th>
                    <th>Delete Button</th>
                </tr>
            </thead>
            <tbody>
                <% rateList.forEach(rate => { %>
                    <tr>
                        <!-- <td><%= rate.id %></td> -->
                        <td><%= rate.item %></td>
                        <td><%= rate.rate %></td>
                        <td><%= rate.date_from %></td>
                        <td><%= rate.date_to  %></td>
                        <!-- <td><%= rate.created_at ? rate.created_at.toISOString().split('T')[0] : '' %></td> -->
                        <td> <form action="/edit-item-form/<%=rate.id%>" method="GET">
                            <button type="submit" class="btn btn-primary">Edit Item</button></td>
                        </form>
                        <td>
                            <form action="/delete-item/<%=rate.id%>?_method=DELETE" method="POST">
                               <button type="submit" class="btn btn-danger">Delete Item</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
