<!-- view-rate-list.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Rate List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Rate List</h2>
        <table class="table">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Item</th>
                    <th>Rate</th>
                    <th>Date From</th>
                    <th>Date To</th>
                    <!-- <th>Created At</th> -->
                    <th>Edit Button</th>
                </tr>
            </thead>
            <tbody>
                <% rateList.forEach(rate => { %>
                    <tr>
                        <!-- <td><%= rate.id %></td> -->
                        <td><%= rate.item %></td>
                        <td><%= rate.rate %></td>
                        <td><%= rate.date_from ? rate.date_from.toISOString().split('T')[0] : '' %></td>
                        <td><%= rate.date_to ? rate.date_to.toISOString().split('T')[0] : '' %></td>
                        <!-- <td><%= rate.created_at ? rate.created_at.toISOString().split('T')[0] : '' %></td> -->
                        <td> <form action="/edit-item-form/<%=rate.id%>" method="GET">
                            <button type="submit" class="btn btn-primary">Edit Item</button></td>
                        </form>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
